@import url(normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --primaryColor: #ffc500;
  --orangeColor: #fe4c1c;
  --whiteColor: #fff;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --hex-side: 100px;
  --hex-rotate: 30deg;
  --transition: 0.5s;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1600px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Montserrat";
}

.slick-track {
  display: flex !important;
  gap: 20px;
}

.topBar {
  padding: 40px 120px;
}

.topBar img {
  scale: 1.2;
}

.ant-collapse .ant-collapse-item {
  border-radius: 12px;
}
.ant-collapse .ant-collapse-item .ant-collapse-header {
  align-items: center;
  padding: 12px 24px;
}

.ant-upload-wrapper .ant-upload {
  display: block;
}
.ant-upload-wrapper .ant-upload-list {
  margin-bottom: 20px;
}

#nav {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 2;
}
