.container {
  padding: 0 80px;
}

.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  span {
    display: block;
  }
}

.btn {
  color: black;
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    color: #000;
  }
}
