.card {
  // border-radius: 12px;
  // &:hover {
  //   box-shadow: 0 15px 35px rgb(0 0 0 / 20%);
  //   transform: translateY(-10px);
  // }
  position: relative;
}
.desc {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  // padding: 20px;
  width: 440px;
  background-color: #000;
  opacity: 0;

  color: #fff;
  transition: opacity 400ms ease;

  .text {
    padding: 20px;
  }

  &:hover {
    opacity: 0.8;
  }
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.hex {
  // margin-top: 30px;
  // width: 104px;
  // height: 60px;
  // background-color: #778899;
  // position: relative;
  // float: left;

  width: calc(var(--hex-side) * 1.732);
  height: var(--hex-side);
  background: #ffc500;
  position: relative;
  transform: rotate(var(--hex-rotate));
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    transform: rotate(calc(var(--hex-rotate) * -1));
    z-index: 1;
  }

  &::after {
    // content: "";
    // width: 0;
    // position: absolute;
    // bottom: -30px;
    // border-top: 30px solid #778899;
    // border-left: 52px solid transparent;
    // border-right: 52px solid transparent;
    transform: rotate(-60deg);

    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffc500;
    top: 0;
    left: 0;
  }

  &::before {
    // content: "-";
    // width: 0;
    // height: 0;
    // border-bottom: 30px solid #778899;
    // border-left: 52px solid transparent;
    // border-right: 52px solid transparent;
    // position: absolute;
    // top: -30px;

    transform: rotate(60deg);

    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffc500;
    top: 0;
    left: 0;
  }
}

.icon {
  svg {
    width: 40px !important;
  }
}
