.card {
  position: relative;
  overflow: hidden;
  // height: 280px;

  &:hover {
    .icon {
      background-color: var(--whiteColor);
      box-shadow: 0 0 15px rgb(0 0 0 / 10%);

      .circle_two {
        opacity: 2;
        visibility: visible;
      }
    }
  }
}
.title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.desc {
  transition: all 0.8s linear;
  max-height: 200px;
  height: 200px;
}

.cover {
  transition: all 0.8s linear;
  max-height: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;

  .icon {
    background-color: rgba($color: var(--orangeColor), $alpha: 0.3);
    position: relative;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    line-height: 90px;
    transition: var(--transition);
    color: var(--orangeColor);
    font-size: 40px;
    // margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90px;
  }

  .circles {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    animation-name: rotateAnim;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    .circle_one {
      position: absolute;
      left: 8px;
      bottom: 8px;
      width: 12px;
      height: 12px;
      z-index: 1;
      border-radius: 50%;
      background-color: var(--primaryColor);
    }

    .circle_two {
      position: absolute;
      top: 8px;
      right: 8px;
      width: 12px;
      height: 12px;
      z-index: 1;
      border-radius: 50%;
      transition: var(--transition);
      opacity: 0;
      visibility: hidden;
      background-color: #1c17a0;
    }
  }

  @keyframes rotateAnim {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(1turn);
    }
  }
}

.icon {
  svg {
    width: 40px !important;
  }
}

.height {
  max-height: 0;
  overflow: hidden;
}
