.wrp {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  background: #fff;
  gap: 20px;
}
.menu {
  flex: auto;
  min-width: 0;
  justify-content: center;
  border-bottom: none;

  li {
    margin: 0 20px;
  }
}
.locale {
  cursor: pointer;
}
.localeInner {
  display: none;
  position: relative;
  &::before {
    display: block;
    content: "";
    width: 100%;
    border-top: 1px solid black;
  }
}

@media screen and (max-width: 992px) {
  .locale {
    display: none;
  }
  .localeInner {
    display: block;
  }
}
