.container {
  padding: 40px 120px;
  width: 100%;
  box-sizing: border-box;
  // background-color: #f9f9f9;
}

.list {
  width: auto;
  max-width: 1400px;
  margin: auto;
}

.content {
  width: 50%;
}

.card {
}

@media screen and (max-width: 992px) {
  .container {
    padding: 20px 40px;
  }
}
