.container {
  background-color: var(--main-yellow);
  padding: 20px 0;

  a {
    color: #000;
  }
}

.links {
  padding: 0 80px 20px 80px;
  .contactsLeft,
  .contactsRight,
  .navLeft,
  .navRight {
    display: flex;
    flex-direction: column;
    gap: 16px;

    a {
      display: flex;
      align-items: center;
      gap: 8px;
      height: 30px;
    }
  }

  // .navLeft,
  // .cnavRight {
  //   gap: 20px;
  //   align-items: center;
  // }

  // .contactsRight {
  //   align-items: flex-end;
  // }
}

.privacy {
  background-color: #fff;
  padding: 0 40px;
}

.logo,
.privacyLink,
.locale {
  display: flex;
  align-items: center;
}

.privacyLink {
  justify-content: center;
}

.locale {
  justify-content: flex-end;

  span {
    cursor: pointer;
  }
}
