// .grid {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-template-rows: 1fr 1fr 1fr;
//   gap: 9px 6px;
//   grid-template-areas:
//     ". . ."
//     ". . ."
//     ". . .";
// }

.container {
  padding: 40px 60px;
}

.grid {
  // display: flex;
  // flex-wrap: wrap;
  // padding:  0 64px;
  // gap: 32px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  align-items: start;
  justify-items: center;

  //   display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(456px, 1fr));;
  // grid-gap: 10px;
  // align-items: start;
  // justify-items: center;
  // margin: auto;
  // width: 1248px;

  // @media (max-width: 1330px) {
  //   grid-template-columns: repeat(3, 1fr);
  // }
}

.cell {
  // margin: 0 auto;
  img {
      border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
  max-width: 100%;
}
width: 100%;

  &:nth-child(5){
      grid-column: span 4;
      // width: 100%;
  }

  //  @media (max-width: 1330px) {
  //    &:nth-child(4){
  //     grid-column: span 3;
  //     // width: 100%;
  // }
  // }
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 140px;
  width: 100%;

  img {
    width: 100%;
  }
}
