.container {
  overflow: hidden;
  height: 100vh;
  position: relative;
  padding: 40px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  box-sizing: border-box;
  margin-top: -65px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  align-items: center;
  // background: #ffeba5;
  // background: linear-gradient(135deg, #ffeba5, #efe85e);
}
.menu {
  flex: auto;
  min-width: 0;
  justify-content: center;
  border-bottom: none;

  li {
    margin: 0 20px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: auto;
  // max-width: 610px;

  .right {
    margin: 0 0 0 234px;
  }

  .title {
    font-size: 80px;
    font-weight: 400;
    font-family: "Comfortaa", monospace;
    margin: 12px 0 24px 0;
    .color {
      color: var(--primaryColor);
    }
  }

  .titleSecondary {
    font-family: "Comfortaa", monospace;
    font-size: 64px;
    font-weight: 400;
    margin: 0;
  }

  .pre {
    font-size: 18px;
    color: #ffc500;
  }
  .desc {
    font-weight: 400;
    font-size: 24px;
    max-width: 564px;
  }

  .controls {
    display: flex;
    gap: 16px;
  }

  .buttonPrimary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 35px;
    gap: 10px;

    background: #000000;
    border-radius: 8px;
    color: #fff;
  }
}

.arrow {
  cursor: pointer;
  animation: arrow 2s ease-in-out infinite;
  // &:hover {
  //   polygon {
  //     // fill: #fff;
  //     transition: all 0.2s ease-out;

  //     &.arrow_bottom {
  //       transform: translateY(-18px);
  //     }

  //     &.arrow_top {
  //       transform: translateY(18px);
  //     }
  //   }
  // }
}

.locale {
  cursor: pointer;
}

.bgYellow {
  background: url(../../assets/images/black_bg.png);
  transform: rotate(-107.02deg);
  position: absolute;
  width: 317.72px;
  height: 403.98px;
  left: 1142.97px;
  top: 1070.02px;
}

.navPlaceholder {
  height: 144px;
  width: 100%;
}

@keyframes arrow {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px 40px;
  }

  .controls {
    flex-direction: column;
  }
  .content {
    .title {
      font-size: 48px;
    }
  }
}

@media screen and (max-width: 576px) {
  .content {
    .title {
      font-size: 42px;
    }
  }
}
