$slide-count: 5;
$slide-width: 30rem;

.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 60px solid #555555;
  border-right: 0;

  &::after {
    content: "";
    display: block;
    height: 100px;
    width: 100px;
    position: absolute;
  }
}

.container {
  // background: #ffeba5;
  // background: linear-gradient(135deg, #ffeba5, #efe85e);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .slider{
    .controlPrev, .controlNext {
      .control {
        //  display: inline-flex;
        // position: absolute;
        // left: 218px;
        // padding: 17px 36px;
        background: var(--primaryColor);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        height: 78px;

        svg {
          height: 100%;
        }
      }
    }
  } 
    
}

.content {
  width: 50%;
}

.slider {
  width: 1200px;
  position: relative;
}

.sliderWrp {
  display: flex;
  gap: 20px;
}
.sliderContainer {
  display: inline-block;
}
.carousel__wrap {
  margin-top: 10%;
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 20px;
  margin-right: 10px;
  box-sizing: border-box;
  .title {
    color: var(--orangeColor);
    font-size: 18px;
  }
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
}

.navMobile {
    display: none;
  }
  %controlWrp {
    display: inline-flex;
    position: absolute;
    
    top: 50%;
    transform: translateY(-50%);
  }
  .controls {
    display: flex;
    width: 100px;
    justify-content: space-between;
  }
.controlPrev {
  @extend %controlWrp;
  left: -200px;
}
.controlNext {
  @extend %controlWrp;
  right: -200px;
}

.controlMobile {
  background: var(--primaryColor);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 40px;
   svg {
    height: 100%;
  }
}

.image {
  width: 100%;
}

.cardWrp {
  position: relative;
  height: 362px;
  border-radius: 8px;
  overflow: hidden;
}
.content {
  position: absolute;
  bottom: 0;
 width: 100%;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(15px);
  padding: 15px 23px;
  margin-right: 54px;
  border-radius: 8px;
}

@media screen and (max-width: 1620px) {
  .controlNext,
  .controlPrev {
    display: none;
  }

  .navMobile {
    display: flex;
    padding-right: 60px;
    gap: 30px;
  }
}
@media screen and (max-width: 1240px) {
  .slider {
    width: 760px;
  }
}

@media screen and (max-width: 768px) {
  .slider {
    width: 420px;
  }
  .navMobile {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .slider {
    width: 350px;
  }
  .container {
    padding-bottom: 40px;
  }
}
